* { box-sizing: border-box; }

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 100px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 100px;
  }
}

.flickity-button {
  background: transparent;
}

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}

/* icon color */
.flickity-button-icon {
  fill: black;
}

/* hide disabled button */
.flickity-button:disabled {
  display: none;
}
